@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    /*border:1px solid black;*/
}

body{
    padding: 0 20%;
    background-color: #00ACC1;
}



#new{
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
}

#refresh{
    position: fixed;
    margin-left: 60.5%;
    width: 30px;
    height: 30px;
    background-color: #00ACC1;
    border: none;
    background-image: url("../img/refresh.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border-radius: 15px;
}

#refresh:hover{
    cursor: pointer;
    background-color: #01579B;
}

#new:hover, #tabla input:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}



#tabla{
    /*border-radius: 20px;*/
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    /*border: 2px solid black;*/
    /*margin-left: 20%;*/
}

#tabla tr td{
    padding-top: 5px;
}

#tabla input{
    float: left;
    width: 50%;
}

#tabla tr:first-child{
    height: 50px;
    border: 1px solid black;
    background-color: #01579B;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border, .border td, .border th{
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid black;
}

.border input{
    float: left;
    padding: 0;
    margin-left: 0;
    width: 100px;
    height: 40px;
}

.border tr:nth-child(2){
    background-color: #006064;
}



