main{
  @include borde(2px 1px 7px 2px,$color-principal,10px);
  background-color: $color-principal;
}

a{
  color: $color-principal;
}

a:hover{
  color: darken($color-principal,25%);
}

.comun {
  text-indent: 15px;
  line-break: normal;
  text-align: justify;
}

.normal {
  @extend .comun;
  color: black;
}

.resaltat {
  @extend .comun;
  color: $color-principal;
}

.deshabilitat {
  @extend .comun;
  color: darken($color-principal,25%);

}