
/*#sostenido,#no-sostenido{*/
    /*transform: scale(.5);*/
/*}*/
/*#pentagramaContainer{*/
    /*float: left;*/
    /*width: 1000px;*/
    /*height: 500px;*/
/*}*/

/*#pentagrama{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.tecla{
    height: 300px;
}

.sostenido{
    height: 180px;
    background-color: #343a40;
    z-index: 3;
}

#pentagramaContainer{
    position: relative;
    width: 1000px;
    height: 500px;
}

#pentagrama{
    position: absolute;
}

.nota{
    position: absolute;
}

#nota-1{
    margin-left: 300px;
}

#nota-2{
    margin-left: 500px;
}

#nota-3{
    margin-left: 700px;
}

#nota-4{
    margin-left: 900px;
}

.do{
    margin-top: 250px;
}

.re{
    margin-top: 210px;
}

.mi{
    margin-top: 170px;
}

.fa{
    margin-top: 150px;
}

.sol{
    margin-top: 120px;
}

.la{
    margin-top: 100px;
}

.si{
    margin-top: 220px;
    transform: scaleY(-1);
}

.do-alto{
    margin-top: 200px;
    transform: scaleY(-1);
}

/*#videoContainer{*/
    /*float: right;*/
    /*width: 300px;*/
    /*height: 200px;*/
    /*z-index: 23;*/
/*}*/

/*#video{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/





